@model IEnumerable<Pet>
@{
    ViewData["Title"] = "All Pets";
    Layout = "_Layout";
}
<h2>All Pets</h2>
<hr>
<a asp-action="New" class="btn btn-primary mb-2">New</a>
<form asp-action="Index" method="post">
    <div class="row input-group">
        <input type="text" name="search" id="search" class="form-control" />
        <div class="input-group-btn">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
            <td>Color</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Age</td>
                <td>@p.Color</td>
            
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
    var options = {

    url: function(search) {
    return "/Pets/AutocompleteResult";
    },

    getValue: function(element) {
    return element.name;
    },

    ajaxSettings: {
    dataType: "json",
    method: "POST",
    data: {
    dataType: "json"
    }
    },

    preparePostData: function(data) {
    data.search = $("#search").val();
    return data;
    },

    requestDelay: 400
    };

    $("#search").easyAutocomplete(options);
    </script>
}